<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SimpleForm</servlet-name>
  	<display-name>SimpleForm</display-name>
  	<description></description>
  	<servlet-class>SimpleForm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DatabaseConnection</servlet-name>
  	<display-name>DatabaseConnection</display-name>
  	<description></description>
  	<servlet-class>com.connector.DatabaseConnection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginUser</servlet-name>
  	<display-name>LoginUser</display-name>
  	<description></description>
  	<servlet-class>com.connector.LoginUser</servlet-class>
  </servlet>
 <servlet>
  	<servlet-name>RegisterUser</servlet-name>
  	<display-name>RegisterUser</display-name>
  	<description></description>
  	<servlet-class>com.connector.RegisterUser</servlet-class>
  </servlet>
 <servlet>
 	<servlet-name>UserProfile</servlet-name>
 	<display-name>UserProfile</display-name>
 	<description></description>
 	<servlet-class>com.connector.UserProfile</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>LogoutUser</servlet-name>
 	<display-name>LogoutUser</display-name>
 	<description></description>
 	<servlet-class>com.connector.LogoutUser</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>ConversationId</servlet-name>
 	<display-name>ConversationId</display-name>
 	<description></description>
 	<servlet-class>com.connector.ConversationId</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>AddMessage</servlet-name>
 	<display-name>AddMessage</display-name>
 	<description></description>
 	<servlet-class>com.connector.AddMessage</servlet-class>
 </servlet>
  <servlet-mapping>
  	<servlet-name>SimpleForm</servlet-name>
  	<url-pattern>/SimpleForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterUser</servlet-name>
  	<url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginUser</servlet-name>
  	<url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserProfile</servlet-name>
  	<url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutUser</servlet-name>
  	<url-pattern>/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConversationId</servlet-name>
  	<url-pattern>/ConversationId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMessage</servlet-name>
  	<url-pattern>/AddMessage</url-pattern>
  </servlet-mapping>
</web-app>
